# Điền thông tin Bot Telegram của bạn vào đây:
# 1. TG_BOT_TOKEN: Lấy từ @BotFather
# 2. TG_CHAT_ID: Lấy từ getUpdates hoặc @userinfobot

TG_BOT_TOKEN="123456789:AAExxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
TG_CHAT_ID="1234567890"
